html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    background-color: #eeeeee;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, table, input, button {
    font: inherit;
}

body {
    margin: 2em;
}

table {
    width: 100%;  
    text-align: left;
    border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
    padding: 0.5em;
    text-align: left;
}

@media screen and (max-width: 500px) {

    html {
        font-size: 14px;
        min-width: 300px; 
    }
    
    table {
        display: flex;      
    }

    tbody {
        flex: 1 1 auto;
    }

    thead tr, 
    tbody tr {
        display: flex;
        flex-direction: column;   
    }

    table thead tr:nth-child(even),
    table tbody tr:nth-child(even) {
        background-color: #fff;
    }

    table thead tr th {
        border: 1px solid #d5d5d5;
        border-right: none;
    }

    table thead tr th:not(:first-child), 
     table tbody tr td:not(:first-child) {
        border-top: none;
    }

    table thead tr:nth-child(1) th:nth-child(3),
    table tbody tr:nth-child(1) td:nth-child(3) {
        border-bottom: none;
    }

    table tbody tr td {
        border: 1px solid #d5d5d5;
        border-left: none;
    }
}


@media screen and (min-width: 500px) {
    html {
        font-size: 12px;
    }

    .responsive-mobile {
        display: none;
    }

    table thead tr th,
    table tbody tr td {
        width: 30%;
        border: 1px solid #d5d5d5;
    }

    table thead tr th {
        color: #fff;
        background-color: #333333;  
    }
    
    table tbody tr:nth-child(even) {
        background-color: #fff;
    }
}

@media (min-width: 600px) {
    html { font-size: 14px; }
}

@media (min-width: 900px) {
    html { font-size: 16px; }
}

@media (min-width: 1200px) {
    html { font-size: 18px; }
}

@media (min-width: 1400px) {
    html { font-size: 20px; }
}