html {
    box-sizing: border-box;
    font: 12px/1.8 Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding: 2em;
}

.wrapper {
    max-width: 72em;
    margin: 0 auto;
    padding: 2em 2.5em 2.5em 2.5em;
    background-color: #1881B6;
    border: 0.4em solid #000;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    transition: 0.4s;
}

.wrapper:hover {
    transform: scale(1.05);
}

.wrapper .content {
    max-width: 40em;
}

.wrapper .content span {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

.wrapper .content h1 {
    margin-bottom: 0.2em;
    color: #fff;
    font-weight: normal;
    font-size: 2.7em;
}

.wrapper .content p {
    font-size: 1.1em;
    text-indent: 3em;
}

.wrapper .content .buttons {
    margin-top: 1.5em;
    display: flex;
}

.wrapper .content .buttons a {
    display: block;
    padding: 0.2em 1.2em;
    margin-left: 6.2em;
    border: 0.15em solid #000;
    border-radius: 0.5em;
    text-decoration: none;
    font-weight: bold;
}

.wrapper .content .buttons .contact-sales-btn {
    background-color: #B6416D;
    color: #fff;
}

.wrapper .content .buttons .learn-more-btn {
    color: #000;
}

.media {
    width: 26em;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}